<section class="container contact-section" id="contact">
  <h2 class="contact-title">Contact</h2>

  <div class="contact-wrapper">
    <div class="contact-photo fade-left">
      <img
        src="./img/other/girl.png"
        alt="Girl"
        class="girl-img"
        srcset="./img/other/girl@2x.png"
      />
    </div>
    <div class="contact-icons">
      <div class="contact-info">
        <p class="contact-item">
          <strong>Email:</strong>
          <a href="mailto:info@designwuca.pro" class="contact-link">
            info@designwuca.pro
          </a>
        </p>
        <p class="contact-item">
          <strong>Business Address:</strong><br />
          <a
            href="https://www.google.com/maps?q=Wuca+Games,+88+Blossom+Lane,+Portland,+OR+97229"
            target="_blank"
            class="contact-link"
          >
            Wuca Games, 88 Blossom Lane,<br />
            Portland, OR 97229
          </a>
        </p>
        <p class="contact-item"><strong>Our social media:</strong></p>
      </div>

      <div class="social-icons">
        <a href="https://instagram.com" target="_blank" class="social-link">
          <img
            src="../img/social-icons/instagram.svg"
            alt="Instagram"
            width="24"
            height="24"
            class="social-link"
          />
        </a>
        <a href="https://pinterest.com" target="_blank" class="social-link">
          <img
            src="../img/social-icons/pinterest.svg"
            alt="Pinterest"
            width="24"
            height="24"
            class="social-link"
          />
        </a>
      </div>
    </div>
  </div>
</section>
