<div class="wave-top" id="download">
  <svg
    viewBox="0 0 320 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
  >
    <path
      d="M320 40L0 40L0 21.3278C0 21.3278 14.2667 8.1286 75.4667 1.36802C137.341 -5.467 320 15.533 320 15.533L320 40Z"
      fill="currentColor"
    />
  </svg>
</div>

<section class="download-section">
  <div class="container">
    <h2 class="download-title">Download</h2>
    <p class="download-p">Bring Life Back to Your Happy Home</p>
    <a href="https://play.google.com/store/apps/details?id=com.belkatechnologies.hh&hl=en&gl=us" class="download-btn" target="_blank">
      <picture class="hero-photo">
                <source srcset="./img/play/play-market-desk.png 1x,
                        ./img/play/play-market-desk2x.png 2x
                            " media="(min-width: 1200px)" />
                <source srcset="
                              ./img/play/play-market.png 1x,
                              ./img/play/play-market.png 2x
                            " media="(min-width: 320px)" />
                <img src="./img/play/play-market.png" alt="play-market" width="24" height="26" class="hero-play" />
            </picture>
      <span class="download-btn-texts">
        <span class="download-btn-title">Get it on</span>
        <span class="download-btn-subtitle">Google Play</span>
      </span>
    </a>
  </div>
</section>

<div class="wave-bottom">
  <svg
    viewBox="0 0 320 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
  >
    <path
      d="M0 0L320 0V18.6722C320 18.6722 305.733 31.8714 244.533 38.632C182.659 45.467 1.77178e-06 24.467 1.77178e-06 24.467L0 0Z"
      fill="currentColor"
    />
  </svg>
</div>
