<section class="encouters" id="character">
  <div class="container encouters-div">
    <h2 class="encouters-title">Character Encouters</h2>
    <ul class="encouters-ul">
      <li class="encouters-li">
        <div class="encouters-div-element">
          <div class="encouters-img-div">
            <img src="./img/encouters/ava.jpg" srcset="./img/encouters/ava.jpg 1x, ./img/encouters/ava@2x.jpg 2x"
              alt="Ava" class="encouters-img" />
            <svg class="encouters-name-bg" viewBox="0 0 242 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M242 60L0 60L0 31.9917C0 31.9917 10.7892 12.1929 57.0717 2.05203C103.864 -8.20051 242 23.2995 242 23.2995L242 60Z"
                fill="#F8F8F8" />
            </svg>

            <div class="encouters-name">AVA</div>
          </div>
          <div class="encouters-p-div">
            <p class="encouters-p">
              An interior designer healing through restoration — creative, kind,
              and determined.
            </p>
          </div>
        </div>
      </li>

      <li class="encouters-li">
        <div class="encouters-div-element">
          <div class="encouters-img-div">
            <img src="./img/encouters/nico.jpg" srcset="
                ./img/encouters/nico.jpg    1x,
                ./img/encouters/nico@2x.jpg 2x
              " alt="Nico" class="encouters-img" />
            <svg class="encouters-name-bg" viewBox="0 0 242 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M242 60L0 60L0 31.9917C0 31.9917 10.7892 12.1929 57.0717 2.05203C103.864 -8.20051 242 23.2995 242 23.2995L242 60Z"
                fill="#F8F8F8" />
            </svg>

            <div class="encouters-name">Nico</div>
          </div>
          <div class="encouters-p-div">
            <p class="encouters-p">
              The playful delivery guy who always shows up with a smile (and
              parts you need).
            </p>
          </div>
        </div>
      </li>

      <li class="encouters-li">
        <div class="encouters-div-element">
          <div class="encouters-img-div">
            <img src="./img/encouters/grandma.jpg" srcset="
                ./img/encouters/grandma.jpg    1x,
                ./img/encouters/grandma@2x.jpg 2x
              " alt="Grandma" class="encouters-img" />
            <svg class="encouters-name-bg" viewBox="0 0 242 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M242 60L0 60L0 31.9917C0 31.9917 10.7892 12.1929 57.0717 2.05203C103.864 -8.20051 242 23.2995 242 23.2995L242 60Z"
                fill="#F8F8F8" />
            </svg>

            <div class="encouters-name">Grandma June</div>
          </div>
          <div class="encouters-p-div">
            <p class="encouters-p">
              A former artist whose love for color inspired Ava's path.
            </p>
          </div>
        </div>
      </li>

      <li class="encouters-li">
        <div class="encouters-div-element">
          <div class="encouters-img-div">
            <img src="./img/encouters/mila.jpg" srcset="
                ./img/encouters/mila.jpg    1x,
                ./img/encouters/mila@2x.jpg 2x
              " alt="Mila" class="encouters-img" />
            <svg class="encouters-name-bg" viewBox="0 0 242 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M242 60L0 60L0 31.9917C0 31.9917 10.7892 12.1929 57.0717 2.05203C103.864 -8.20051 242 23.2995 242 23.2995L242 60Z"
                fill="#F8F8F8" />
            </svg>

            <div class="encouters-name">Mila</div>
          </div>
          <div class="encouters-p-div">
            <p class="encouters-p">
              Ava's best friend and design critic, always ready with helpful (or
              sassy) advice.
            </p>
          </div>
        </div>
      </li>

      <li class="encouters-li">
        <div class="encouters-div-element">
          <div class="encouters-img-div">
            <img src="./img/encouters/mr-finch.jpg" srcset="
                ./img/encouters/mr-finch.jpg    1x,
                ./img/encouters/mr-finch@2x.jpg 2x
              " alt="Mr.Finch" class="encouters-img" />
            <svg class="encouters-name-bg" viewBox="0 0 242 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M242 60L0 60L0 31.9917C0 31.9917 10.7892 12.1929 57.0717 2.05203C103.864 -8.20051 242 23.2995 242 23.2995L242 60Z"
                fill="#F8F8F8" />
            </svg>

            <div class="encouters-name">Mr.Finch</div>
          </div>
          <div class="encouters-p-div">
            <p class="encouters-p">
              The nosy neighbor with unexpected tales about the house's past.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>