<section class="faq-section">
  <div class="container">
    <h2 class="faq-header">FAQ</h2>

    <div class="acc-box">
      <ul class="accordion-container acc-container">
        <li class="ac">
          <div class="ac-block">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Is Happy Home free to play?
              </button>
            </h2>
          </div>
          <div class="ac-panel">
            <p class="ac-text">
              Yes — it's completely free. Optional in-app purchases are
              available for decorative sets and boosters.
            </p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-block">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Can I decorate offline?
              </button>
            </h2>
          </div>
          <div class="ac-panel">
            <p class="ac-text">
              Yes! You can enjoy all main features even without an internet
              connection.
            </p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-block">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Can I customize each room?
              </button>
            </h2>
          </div>
          <div class="ac-panel">
            <p class="ac-text">
              Absolutely! Each room allows for various styles, layouts, and
              items based on your choices.
            </p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-block">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                How long is the game?
              </button>
            </h2>
          </div>
          <div class="ac-panel">
            <p class="ac-text">
              With dozens of rooms and seasonal events, the story continues to
              grow with updates.
            </p>
          </div>
        </li>
        <li class="ac">
          <div class="ac-block">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Is this a relaxing game?
              </button>
            </h2>
          </div>

          <div class="ac-panel">
            <p class="ac-text">
              Very much so. It's made to help you unwind and tap into your
              creative side.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
