<section class="features" id="gameplay">
    <div class="feat-cont container">
        <h2 class="features-title">Gameplay Features</h2>
        <ul class="features-list">
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Merge-desk.png 1x,
                            ./img/features/Merge-desk2x.png 2x
                                " media="(min-width: 1200px)" />
                    <source srcset="
                                  ./img/features/Merge.png 1x,
                                  ./img/features/Merge2x.png 2x
                                " media="(min-width: 320px)" />
                    <img src="./img/features/Merge-desk.png" alt="Merge to Design" width="242" height="194"
                        loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Merge to Design:</span>
                    Match decor pieces, furniture, and tools to unlock advanced items and surprises.
                </p>
            </li>
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Room-desk.png 1x,
                                        ./img/features/Room-desk2x.png 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                              ./img/features/Room.png 1x,
                                              ./img/features/Room2x.png 2x
                                            " media="(min-width: 320px)" />
                    <img src="./img/features/Room-desk.png" alt="Room by Room Restoration" width="242" height="194"
                        loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Room by Room Restoration:</span>
                    Renovate cozy spaces from the attic to the garden, each with unique moods and goals.
                </p>
            </li>
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Story-Rich-desk.png 1x,
                                        ./img/features/Story-Rich-desk2x.png 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                              ./img/features/Story-Rich.png 1x,
                                              ./img/features/Story-Rich2x.png 2x
                                            " media="(min-width: 320px)" />
                    <img src="./img/features/Story-Rich-desk.png" alt="Story-Rich Progression" width="242" height="194"
                        loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Story-Rich Progression:</span>
                    Reveal family secrets, childhood memories, and Ava’s emotional journey along the way.
                </p>
            </li>
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Custom-desk.png 1x,
                                        ./img/features/Custom-desk2x.png 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                              ./img/features/Custom.png 1x,
                                              ./img/features/Custom2x.png 2x
                                            " media="(min-width: 320px)" />
                    <img src="./img/features/Custom-desk.png" alt="Custom Styles" width="242" height="194"
                        loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Custom Styles:</span>
                    Choose between rustic, boho, minimalist, or eclectic decor themes — your taste, your call.
                </p>
            </li>
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Offline-desk.png 1x,
                                                    ./img/features/Offline-desk2x.png 2x
                                                        " media="(min-width: 1200px)" />
                    <source srcset="
                                                          ./img/features/Offline.png 1x,
                                                          ./img/features/Offline2x.png 2x
                                                        " media="(min-width: 320px)" />
                    <img src="./img/features/Offline-desk.png" alt="Offline" width="242" height="194" loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Offline Play:</span>
                    Your happy home is always there, even without internet.
                </p>
            </li>
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Relaxing-desk.png 1x,
                                                    ./img/features/Relaxing-desk2x.png 2x
                                                        " media="(min-width: 1200px)" />
                    <source srcset="
                                                          ./img/features/Relaxing.png 1x,
                                                          ./img/features/Relaxing2x.png 2x
                                                        " media="(min-width: 320px)" />
                    <img src="./img/features/Relaxing-desk.png" alt="Relaxing Vibes" width="242" height="194"
                        loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Relaxing Vibes:</span>
                    No timers, no stress — just peaceful play with soft music and ambient details.
                </p>
            </li>
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Ad-Free-desk.png 1x,
                                                    ./img/features/Ad-Free-desk2x.png 2x
                                                        " media="(min-width: 1200px)" />
                    <source srcset="
                                                          ./img/features/Ad-Free.png 1x,
                                                          ./img/features/Ad-Free2x.png 2x
                                                        " media="(min-width: 320px)" />
                    <img src="./img/features/Ad-Free-desk.png" alt="Ad-Free Bliss" width="242" height="194"
                        loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Ad-Free Bliss:</span>
                    Enjoy uninterrupted decorating time with zero ads.
                </p>
            </li>
            <li class="features-item">
                <picture class="features-photo">
                    <source srcset="./img/features/Eco-Inspired-desk.png 1x,
                                                    ./img/features/Eco-Inspired-desk2x.png 2x
                                                        " media="(min-width: 1200px)" />
                    <source srcset="
                                                          ./img/features/Eco-Inspired.png 1x,
                                                          ./img/features/Eco-Inspired2x.png 2x
                                                        " media="(min-width: 320px)" />
                    <img src="./img/features/Eco-Inspired-desk.png" alt="Eco-Inspired Designs" width="242" height="194"
                        loading="lazy" />
                </picture>
                <p class="features-text">
                    <span class="features-text-bold">Eco-Inspired Designs:</span>
                    Discover themes centered on sustainability, nature, and upcycled charm.
                </p>
            </li>
        </ul>
    </div>
</section>