<section class="container-gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <div class="swiper js-gallery-swiper">
      <div class="swiper-wrapper gallery-list">
        <div class="swiper-slide gallery-list-element">
          <img src="./img/gallery/1000-items.png" alt="1000-items" class="gallery-img"
            srcset="./img/gallery/1000-items@2x.png" />
        </div>

        <div class="swiper-slide gallery-list-element">
          <img src="./img/gallery/exciting-story.png" alt="exciting-story" class="gallery-img"
            srcset="./img/gallery/exciting-story@2x.png" />
        </div>

        <div class="swiper-slide gallery-list-element">
          <img src="./img/gallery/explore.png" alt="explore" class="gallery-img"
            srcset="./img/gallery/explore@2x.png" />
        </div>

        <div class="swiper-slide gallery-list-element">
          <img src="./img/gallery/fix-houses.png" alt="fix-houses" class="gallery-img"
            srcset="./img/gallery/fix-houses@2x.png" />
        </div>

        <div class="swiper-slide gallery-list-element">
          <img src="./img/gallery/match-furniture.png" alt="match-furniture" class="gallery-img"
            srcset="./img/gallery/match-furniture@2x.png" />
        </div>

        <div class="swiper-slide gallery-list-element">
          <img src="./img/gallery/renovate.png" alt="renovate" class="gallery-img"
            srcset="./img/gallery/renovate@2x.png" />
        </div>

        <div class="swiper-slide gallery-list-element">
          <img src="./img/gallery/design.png" alt="design" class="gallery-img" srcset="./img/gallery/design@2x.png" />
        </div>
      </div>

      <div class="swiper-pagination js-gallery-pagination"></div>
      <div class="navigation-buttons">
        <div class="js-gallery-button-prev" aria-label="Previous slide">
          <svg width="24" height="24">
            <use href="sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="js-gallery-button-next" aria-label="Next slide">
          <svg width="24" height="24">
            <use href="sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>