<section class="container">
  <h2 class="gallery-title">Gallery</h2>

  <div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="./img/gallery/1000-items.jpg"
          alt="1000-items"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img src="./img/gallery/design.jpg" alt="design" class="gallery-img" />
      </div>
      <div class="swiper-slide">
        <img
          src="./img/gallery/exciting-story.jpg"
          alt="exciting-story"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./img/gallery/explore.jpg"
          alt="explore"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./img/gallery/fix-houses.jpg"
          alt="fix-houses"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./img/gallery/match-furniture.jpg"
          alt="match-furniture"
          class="gallery-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./img/gallery/renovate.jpg"
          alt="renovate"
          class="gallery-img"
        />
      </div>
    </div>


    <div class="swiper-button-prev gallery-button-prev"></div>
    <div class="swiper-button-next gallery-button-next"></div>


    <div class="swiper-pagination"></div>
  </div>
</section>
