<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="header-nav">
        <ul class="header-list">
          <li><a href="#home" data-category-link class="header-link ">Home</a></li>
          <li><a href="#overview" data-category-link class="header-link ">Game Overview</a></li>
          <li><a href="#gameplay" data-category-link class="header-link ">Gameplay Features</a></li>
          <li class="header-logo">
            <a href="./index.html">
              <picture>
                <source srcset="
                            ./img/logo/logo-desk.png 1x,
                            ./img/logo/logo-desk2x.png 2x
                          " media="(min-width: 1200px)" />

                <img src="./img/logo/logo-desk.png" class="logo-header" alt="Happy Home" width="100" height="58" />

              </picture>
            </a>
          </li>
          <li><a href="#howtoplay" data-category-link class="header-link ">How to Play</a></li>
          <li><a href="#character" data-category-link class="header-link ">Character Encounters</a></li>
          <li><a href="#gallery" data-category-link class="header-link ">Gallery</a></li>
          <li><a href="#download" data-category-link class="header-link ">Download</a></li>
          <li><a href="#faq" data-category-link class="header-link ">FAQ</a></li>
          <li><a href="#contact" data-category-link class="header-link ">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!--Mobile menu-->
    <div class="header-mobile-wrapper">
      <div class="header-logo-mobile">
        <a href="./index.html">
          <picture>
            <source srcset="
                                  ./img/logo/logo.png 1x,
                                  ./img/logo/logo2x.png 2x
                                " media="(min-width: 1200px)" />
            <img src="./img/logo/logo.png" class="logo-header" alt="Happy Home" width="80" height="46" />
          </picture>
        </a>
      </div>
      <button class="header-burger-btn" type="button" id="header-logo-icon" data-header-menu-open>
        <svg class="header-icon-btn" width="24" height="24">
          <use href="./img/sprite.svg#icon-menu-outline"></use>
        </svg>
      </button>
    </div>

  </div>
</header>
<div class="mobile-menu js-mobile-menu">
  <button class="header-icon-close-menu" type="button" id="header-mobile-menu-close" data-header-menu-close>
    <svg class="header-icon-close" width="24" height="24">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="header-mobile-nav">
    <ul class="header-list-mobile">
      <li><a href="#home" data-category-link class="header-link-mobile">Home</a></li>
      <li><a href="#overview" data-category-link class="header-link-mobile">Game Overview</a></li>
      <li><a href="#gameplay" data-category-link class="header-link-mobile">Gameplay Features</a></li>
      <li><a href="#howtoplay" data-category-link class="header-link-mobile">How to Play</a></li>
      <li><a href="#character" data-category-link class="header-link-mobile">Character Encounters</a></li>
      <li><a href="#gallery" data-category-link class="header-link-mobile">Gallery</a></li>
      <li><a href="#download" data-category-link class="header-link-mobile">Download</a></li>
      <li><a href="#faq" data-category-link class="header-link-mobile">FAQ</a></li>
      <li><a href="#contact" data-category-link class="header-link-mobile">Contact</a></li>
    </ul>
  </nav>
</div>