<section class="hero" id="home">
    <div class="container">
        <h1 class="hero-title">Happy Home – Merge & Design</h1>
        <p class="hero-desk">Create Comfort. Merge with Joy. Build Your Dream Space.</p>
        <button class="hero-btn">
            <picture class="hero-photo">
                <source srcset="./img/play/play-market-desk.png 1x,
                        ./img/play/play-market-desk2x.png 2x
                            " media="(min-width: 1200px)" />
                <source srcset="
                              ./img/play/play-market.png 1x,
                              ./img/play/play-market.png 2x
                            " media="(min-width: 320px)" />
                <img src="./img/play/play-market.png" alt="play-market" width="24" height="26" class="hero-play" />
            </picture>Start
            Decorating
            Today
        </button>
    </div>
</section>