<section class="how-to-play" id="howtoplay">
    <div class="container how-cont">
        <h2 class="how-to-play-title">How to Play</h2>
        <ol class="how-list">
            <li class="how-item item-one" data-step="1">
                <p class="how-desk">Arrive at Home: Ava steps into the dusty foyer of her late grandmother’s house. It’s
                    full of memories
                    and mysteries.</p>
            </li>
            <li class="how-item item-two" data-step="2">
                <p class="how-desk">Merge Objects: Combine tools, fabrics, furniture parts, and decorations to create
                    stunning interior items.</p>
            </li>
            <li class="how-item item-three" data-step="3">
                <p class="how-desk">Design & Choose: Unlock room themes and decide your own layout, colors, and style.
                </p>
            </li>
            <li class="how-item item-four" data-step="4">
                <p class="how-desk">Discover the Story: From old letters to vintage photo albums, every merge uncovers a
                    piece of family history.</p>
            </li>
            <li class="how-item item-five" data-step="5">
                <p class="how-desk">Complete the House: Finish rooms, win hearts, and maybe discover Ava’s next chapter.
                </p>
            </li>
        </ol>
    </div>
</section>