<div class="wave-top">
    <svg viewBox="0 0 320 40" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path
            d="M320 40L0 40L0 21.3278C0 21.3278 14.2667 8.1286 75.4667 1.36802C137.341 -5.467 320 15.533 320 15.533L320 40Z"
            fill="currentColor" />
    </svg>
</div>
<section class="overview" id="overview">
    <div class="container ">
        <h2 class="overview-title">Game Overview</h2>
        <div class="overview-container">
            <div clas="over-text">
                <p class="overview-desk">Welcome to Happy Home, where every merge is a step closer to building the cozy
                    sanctuary of your dreams.<br>You join Ava, a
                    young designer returning to her family’s old cottage after years away. Dusty rooms, forgotten
                    blueprints,
                    and hidden
                    treasures await — all waiting for your creative touch.</p></br>
                <p class="overview-desk">Uncover sentimental mementos, unlock themed rooms, and merge your way through
                    the
                    renovation of a lifetime.
                    Whether it’s
                    a sunlit reading nook or a charming garden patio, your design choices shape the entire home.</p>
                <p class="overview-desk">Design. Restore. Remember. This isn’t just decoration — it’s healing through
                    creativity.</p>
            </div>
            <picture class="overview-photo">
                <source srcset="./img/other/Mockup-desk.png 1x,
            ./img/other/Mockup-desk2x.png 2x
                " media="(min-width: 1200px)" />
                <source srcset="
                  ./img/other/Mockup.png 1x,
                  ./img/other/Mockup2x.png 2x
                " media="(min-width: 320px)" />
                <img src="./img/other/Mockup-desk.png" alt="Mockup" width="443" height="532" loading="lazy" />
            </picture>
        </div>
    </div>
</section>
<div class="wave-bottom">
    <svg viewBox="0 0 320 40" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path
            d="M0 0L320 0V18.6722C320 18.6722 305.733 31.8714 244.533 38.632C182.659 45.467 1.77178e-06 24.467 1.77178e-06 24.467L0 0Z"
            fill="currentColor" />
    </svg>
</div>