<section class="overview" id="overview">
    <div class="container ">
        <h2 class="overview-title">Game Overview</h2>
        <div class="overview-container">
            <div clas="over-text">
                <p class="overview-desk">Welcome to Happy Home, where every merge is a step closer to building the cozy
                    sanctuary of your dreams.<br>You join Ava, a
                    young designer returning to her family’s old cottage after years away. Dusty rooms, forgotten
                    blueprints,
                    and hidden
                    treasures await — all waiting for your creative touch.</p></br>
                <p class="overview-desk">Uncover sentimental mementos, unlock themed rooms, and merge your way through
                    the
                    renovation of a lifetime.
                    Whether it’s
                    a sunlit reading nook or a charming garden patio, your design choices shape the entire home.</p>
                <p class="overview-desk">Design. Restore. Remember. This isn’t just decoration — it’s healing through
                    creativity.</p>
            </div>
            <picture class="overview-photo">
                <source srcset="../img/other/Mockup-desk.png 1x,
            ../img/other/Mockup-desk2x.png 2x
                " media="(min-width: 1200px)" />
                <source srcset="
                  ../img/other/Mockup.png 1x,
                  ../img/other/Mockup2x.png 2x
                " media="(min-width: 320px)" />
                <img src="../img/other/phone.png" alt="Mockup" width="443" height="532" loading="lazy" />
            </picture>
        </div>
    </div>
</section>