.back-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: none;
  transition: transform 0.2s ease;
  margin: 40px 16px;
}


.back-link:hover {
  color: var(--color-btn);
}

.back-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  flex-shrink: 0;
}