.terms-container {
  padding: 40px 16px;
  width: 288px;
}

.terms-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 32px;
}

.terms-btn:hover,
.terms-btn:active {
  color: var(--color-pink-accent);
}

.terms-icon {
  fill: black;
}

.terms-icon:hover,
.terms-icon:active {
  fill: var(--color-pink-accent);
}

@media only screen and (min-width: 1200px) {
  .terms-container {
    width: 1200px;
    padding: 40px 80px 80px 80px;
  }

  .terms-btn {
    font-size: 20px;
    line-height: 0.8;
    margin-bottom: 80px;
  }
}