.contact-section {
  padding-top: 40px;
}
.contact-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #1c1c1c;
  margin-bottom: 24px;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'address address'
    'girl social';
  gap: 10px;
  align-items: start;
  /* align-items: center; */
  margin: 0 auto;
  margin-bottom: -100px;
}

.contact-info {
  grid-area: address;
}
.contact-photo {
  grid-area: girl;
}
.social-icons {
  grid-area: social;
}
.contact-photo {
  display: flex;
  flex: 1 1 40%;
  animation: fadeInLeft 1s ease forwards;
  opacity: 0;
}
.contact-photo img {
  max-width: 146px;
  height: 100%;
}
.contact-item {
  margin-bottom: 20px;
}
.contact-item-social {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #1c1c1c;
  margin-left: -25px;
  margin-bottom: 8px;
}
.contact-item-address {
  margin-bottom: 46px;
}
.social-icons {
display: flex;
  flex-direction: column; 
  align-items: center;
}
.icons-soc {
  display: flex;
   justify-content: center;
  padding: 12px;
  gap: 24px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.social-link:hover {
  transform: scale(1.05);
}
.contact-info {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #1c1c1c;
  flex: 2;
}

.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  animation: fadeInLeft 1s ease forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .contact-title {
    font-size: 40px;
    line-height: 0.75;
    margin-bottom: 32px;
  }

  .contact-wrapper {
    display: block;
    align-items: flex-start;
    gap: 60px;
    margin-left: 407px;
  }
  .contact-item,
  .contact-item-address,
  .contact-item-social {
    width: 419px;
    text-align: center;
    margin-left: 170px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
  }
  .contact-item-social {
    margin-top: -18px;
  }
  .contact-photo {
    flex: 0 0 auto;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 419px;
  }

  .social-icons {
    display: block;
    align-self: flex-start;
    margin-bottom: 150px;
  }
  .contact-photo img {
    max-width: 100%;
    height: 481px;
    margin-top: -385px;
    margin-left: 180px;
  }
  .icons-soc {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}
