.encouters-div {
  padding-top: 40px;
  padding-bottom: 40px;
}
.encouters-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 24px;
}
.encouters-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.encouters-li {
  display: flex;
}
.encouters-li:nth-child(odd) .encouters-div-element {
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}
.encouters-li:nth-child(odd) .encouters-p-div {
  text-align: left;
  align-items: flex-start;
}

.encouters-li:nth-child(even) .encouters-div-element {
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: right;
}
.encouters-li:nth-child(even) .encouters-p-div {
  text-align: right;
  align-items: flex-end;
}
.encouters-div-element {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.encouters-p-div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.encouters-p-div::after,
.encouters-p-div::before {
  content: '';
  display: block;
  background-color: var(--color-beg-accent);
  width: 100%;
  height: 1px;
  margin: 8px 0;
  align-self: stretch;
}
.encouters-img-div {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.encouters-img {
  border-radius: 13px;
  width: 100%;
  max-width: 64px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.35);
}

.encouters-name-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 13px;
}
.encouters-name {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'DM Sans', sans-serif;
  line-height: 0.8;
  font-weight: 600;
  font-size: clamp(4px, 4vw, 8px);
  color: var(--color-text);
  text-align: center;
  pointer-events: none;
}
.encouters-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-text);
  word-wrap: break-word;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .encouters-img {
    border-radius: 48px;
    max-width: 242px;
    height: auto;
  }
  .encouters-title {
    font-size: 40px;
    line-height: 1.7;
    margin-bottom: 64x;
  }
  .encouters-div-element {
    gap: 24px;
  }
  .encouters-p {
    font-size: 24px;
    line-height: 1.2;
    max-width: 419px;
    /* padding: 43px 24px; */
  }
  .encouters-p-div::after,
  .encouters-p-div::before {
    margin: 43px 0;
  }
  .encouters-name {
    font-size: clamp(16px, 4vw, 24px);
    bottom: 15px;
  }
  .encouters-name-bg {
    border-radius: 48px;
  }
}
