.js-accordion-container {
  margin: 0 auto;
}
.container-faq {
  padding-top: 40px;
  padding-bottom: 0px;
}
.faq-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 24px;
}
.ac-trigger {
  background: #ffebc3;
  border-radius: 24px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
  padding: 8px 16px;
  cursor: pointer;
  text-align: left;
  outline: none;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ac:nth-child(2) .ac-trigger {
  background-color: #ffe7b6;
}
.ac:nth-child(3) .ac-trigger {
  background-color: #ffe2a6;
}
.ac:nth-child(4) .ac-trigger {
  background-color: #ffde9b;
}
.ac:nth-child(5) .ac-trigger {
  background-color: #ffda8b;
}
.ac-trigger:hover {
  filter: brightness(0.95);
}
.ac-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
  position: relative;
  z-index: 2;
}
.ac-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}
.ac-block {
  position: relative;
  margin-top: 24px;
}
.ac-panel {
  background: var(--color-white);
  border-radius: 0 0 24px 24px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  max-height: auto;
  padding: 24px 4px 8px 4px;
  margin-top: -14px;
  opacity: 0;
  z-index: 1;
  transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
}
.ac.js-is-active .ac-panel {
  opacity: 1;
}
.ac {
  margin-bottom: 24px;
}

.faq-btn-icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: var(--color-white);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon-plus {
  display: inline;
  transform: rotate(0deg);
}
.icon-minus {
  display: none;
  transform: rotate(-180deg);
}
.ac.js-is-active .icon-plus {
  display: none;
}
.ac.js-is-active .icon-minus {
  display: inline;
  transform: rotate(0deg);
}
@media screen and (min-width: 1200px) {
  .faq-header {
    font-size: 40px;
    line-height: 0.75;
    margin-bottom: 64px;
  }
  .faq-section {
    margin-bottom: 64px;
  }
  .ac {
    margin-bottom: 20px;
  }
  .ac-trigger {
    padding: 16px 24px;
  }
  .ac-header {
    font-size: 24px;
    line-height: 1.25;
  }
  .ac-text {
    font-size: 24px;
    line-height: 1.25;
  }
  .ac-panel {
    padding: 32px 24px 16px 24px;
    margin-top: -16px;
  }
}
