.footer {
  background-color: var(--color-pink);
  padding: 24px 0;
  text-align: center;
}

.footer-nav {
  margin-bottom: 16px;
}

.footer-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  text-align: center;
  margin: 0 5px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--color-btn);
}

.footer-separator {
  color: var(--color-white);
}

.footer-copy {
  font-size: 16px;
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.875;
  text-align: center;
}

.footer-brand {
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
}
.footer-brand:hover {
  text-decoration: none;
  color: var(--color-btn);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 36px 0;
  }
  .footer-link {
    font-size: 20px;
    line-height: 1.5;
  }
  .footer-copy {
    font-size: 20px;
    line-height: 1.5;
  }
}
