.container-gallery {
  padding: 40px 0;
}
.gallery-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 24px;
}

.gallery-swiper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.gallery-list {
  margin-bottom: 24px;
}

.swiper-slide {
  box-sizing: border-box;
  flex-shrink: 0;
  height: auto;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.gallery-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  z-index: 10;
}
.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: var(--color-pink-accent) !important;
  transform: scale(1.8);
}
.gallery-button-prev,
.gallery-button-next {
  display: none;
}
@media screen and (min-width: 1200px) {
  .container-gallery {
    padding: 40px 0 80px;
  }
  .gallery-title {
    margin-bottom: 64px;
    font-size: 40px;
    line-height: 0.75;
  }

  .gallery-swiper {
    max-width: 848px;
    padding-bottom: 56px;
  }
  .gallery-list {
    margin-bottom: 40px;
  }

  .gallery-button-prev,
  .gallery-button-next {
   display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: transform 0.2s ease;
  }

  .gallery-button-prev svg,
  .gallery-button-next svg {
    fill: var(--color-text);
  }

  .swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
