/* Загальний хедер */
.header {
  background-color: #e84fc4;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

/* Хвилястий низ */
.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background-color: #c218a3;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}
.header-wrapper {
  display: none;
}
/* Мобільний хедер */
.header-mobile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: relative;
}

/* Логотип по центру */
.header-logo-mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Бургер справа */
.header-burger-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.header-icon-btn {
  fill: white;
}

/* Мобільне меню */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fde7d8;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 24px 24px;
  text-align: end;
}

.mobile-menu.open {
  transform: translateX(0);
}

.header-icon-close-menu {
  position: absolute;
  top: 24px;
  left: 24px;
  background: none;
  border: none;
}

.header-icon-close {
  fill: black;
}

.header-list-mobile {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-link-mobile {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: right;
  color: #1c1c1c;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .header-mobile-wrapper,
  .mobile-menu {
    display: none;
  }
  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 17px;
    flex-wrap: wrap;
  }

  .header-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    transition: color 0.3s ease;
  }

  .header-link:hover {
    color: #ffe600;
  }

  .header-logo {
    flex-shrink: 0;
    margin: 24px;
  }

  .logo-header {
    display: block;
    max-width: 100px;
    height: auto;
  }
}

/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ef6dc8;
}
.header-wrapper {
  display: none;
}
.header::after {
  content: '';
  display: block;
  height: 20px;
  background: #db19a9;
  border-radius: 0 0 50% 50%;
  margin-top: -10px;
}
.header-mobile-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 16px;
} */

/* Логотип по центру */
/* .header-logo-mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

/* Бургер справа */
/* .header-burger-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
} */

/* SVG стилізація */
/* .header-icon-btn {
  fill: white;
}
.mobile-menu {
  display: none;
}
.header-mobile-nav {
  display: block;
}
.header-list-mobile {
}
.header-link-mobile {
} */
/* @media screen and (min-width: 768px) { */
/* .header {
    padding: 24px 79px;
    text-align: center;
    color: white;
  }
.header-wrapper {
display: flex;
}
  .header::after {
    content: '';
    display: block;
    height: 20px;
    background: #db19a9;
    border-radius: 0 0 50% 50%;
    margin-top: -10px;
  }

  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .header-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .logo-header {
    margin-right: 30px;
    margin-left: 30px;
  }
} */
