.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #db19a9;
  clip-path: ellipse(80% 100% at 50% 0%);
  z-index: 10;
}

/* обідок */
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ef6dc8;
  clip-path: ellipse(80% 100% at 50% 0%); /* трошки більша еліпса */
  z-index: -1; /* відправляємо назад */
}

.header-wrapper {
  display: none;
}
/* Мобільний хедер */
.header-mobile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
}

/* Логотип по центру */
.header-logo-mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Бургер справа */
.header-burger-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.header-icon-btn {
  fill: white;
}

/* Мобільне меню */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  height: 450px;
  background-color: #ffebd7;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 24px 24px;
  text-align: end;
   box-sizing: border-box; 
}

.mobile-menu.open {
  transform: translateX(0);
}

.header-icon-close-menu {
  position: absolute;
  top: 24px;
  left: 24px;
  background: none;
  border: none;
}

.header-icon-close {
  fill: black;
}

.header-list-mobile {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-link-mobile {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: right;
  color: #1c1c1c;
}
.header-link-mobile:hover {
  color: var(--color-btn);
}
@media screen and (min-width: 1200px) {
  .header {
    height: 160px;
  }
  .header::after {
    height: 150px;
  }
  .header-mobile-wrapper,
  .mobile-menu {
    display: none;
  }
  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    margin-bottom: 30px;
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px 79px;
    column-gap: 17px;
    row-gap: 0;
    flex-wrap: wrap;
  }

  .header-link {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    transition: transform 0.3s ease;
  }

  .header-link:hover {
    transform: scale(1.1);
    color: var(--color-btn);
  }

  .header-logo {
    flex-shrink: 0;
    margin: 24px;
  }
}
