.main-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-text);
  margin-bottom: 40px;
  margin-top: 40px;
}
text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-text);
  margin-bottom: 40px;
}
.text-link {
  color: var(--color-text);
  text-decoration: underline;
  transition: all 0.3s;
}
.text-link:hover {
  text-decoration: underline;
  color: var(--color-text);
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 0.75;
    margin-top: 80px;
  }

  text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }
}
