.overview {
  background: #ffda8b;
}

.overview-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #1c1c1c;
  margin-bottom: 24px;
}
.overview-desk {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #1c1c1c;
  margin-bottom: 16px;
}
.overview-desk:last-child {
  margin-bottom: 16px;
}
.js-owerview-img {
  opacity: 0;
  transform: translateY(50px); /* виїжджає знизу */
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.js-owerview-img.js-visible {
  opacity: 1;
  transform: translateY(0);
}
.overview-photo img {
  width: 183px;
  height: 220px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .overview-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overview-title {
    font-size: 40px;
    line-height: 0.75;
    display: block;
    margin-bottom: 64px;
  }
  .overview-desk {
    width: 419px;
    margin-left: 89px;
    margin-right: 24px;
  }
  .overview-photo img {
    width: 443px;
    height: 532px;
    margin-top: 24px;
  }
}
